.ServiceSection {
  width: 100%;

  .text {
    width: 25%;
    margin-top: 4rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
     @media screen and (max-width: 1200px) {
          font-size: 1.8rem;
          text-align: center;
          width: 100%;
        }
  }
  
  .service-container {
    display: flex;
     @media screen and (max-width: 1200px) {
      flex-direction: column;
      
    }
  
  .service {
    padding: 0.5rem 0;
    margin: 3rem 0.4rem;
    width: 25%;
    background-color: #191d2b;
    border-left: 1px solid #2e344e;
    border-right: 1px solid #2e344e;
    border-bottom: 1px solid #2e344e;
    border-top: 8px solid #2e344e;
    transition: all 0.4s ease-in-out;
    &:hover {
      border-top: 8px solid #037fff;
    }
    .service-content {
      padding: 2rem;
      .s-text{
         @media screen and (max-width: 700px) {
        font-size: 1.2rem !important;
       }
         @media screen and (max-width: 1200px) {
          font-size: 2rem;
          text-align: center;
        }
      }
      .s-title {
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
        color: #fff;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 80%;
          height: 1px;
          background-color: #2e344e;
        }
        @media screen and (max-width: 1200px) {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      font-size: 1.2rem;
      width: 100%;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  .service2 {
    padding: 0.5rem 0;
    margin: 3rem 1.5rem;
    width: 25%;
    background-color: #191d2b;
    border-left: 1px solid #2e344e;
    border-right: 1px solid #2e344e;
    border-bottom: 1px solid #2e344e;
    border-top: 8px solid #2e344e;
    transition: all 0.4s ease-in-out;
    &:hover {
      border-top: 8px solid #037fff;
    }
    .service-content {
      padding: 2rem;
       .s-text2{
            @media screen and (max-width: 700px) {
        font-size: 1.2rem !important;
       }
         @media screen and (max-width: 1200px) {
          font-size: 2rem;
          text-align: center;
        }
      }

      .s-title2 {
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
        color: #fff;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 80%;
          height: 1px;
          background-color: #2e344e;
        }
        @media screen and (max-width: 1200px) {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      font-size: 1.2rem;
      width: 100%;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  .service3 {
    padding: 0.5rem 0;
    margin: 3rem 0;
    width: 25%;
    background-color: #191d2b;
    border-left: 1px solid #2e344e;
    border-right: 1px solid #2e344e;
    border-bottom: 1px solid #2e344e;
    border-top: 8px solid #2e344e;
    transition: all 0.4s ease-in-out;
    &:hover {
      border-top: 8px solid #037fff;
    }
    .service-content {
      padding: 2rem;
       .s-text3{
            @media screen and (max-width: 700px) {
        font-size: 1.2rem !important;
       }
         @media screen and (max-width: 1200px) {
          font-size: 2rem;
          text-align: center;
        }
      }

      .s-title3 {
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
        color: #fff;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 80%;
          height: 1px;
          background-color: #2e344e;
        }
        @media screen and (max-width: 1200px) {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
     @media screen and (max-width: 1200px) {
      
      width: 100%
    }
  }
}
}
