.storyPage {
  margin: 4rem 0;
  width: 100%;
  .story-container {
        display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
      
    .story-content {
      align-items: center;
      background-color: #191d2b;
      padding: 1rem 1rem;
      h3{
        color: #037fff;
        font-size: 1.5rem;
        text-align: center;
      }

      p{
        padding: 1rem 1rem;
      }
      
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
