.title {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  position: relative;
  padding-bottom: 0.5rem;
  letter-spacing: 3px;
  &::before {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #0381ff63;
    width: 6rem;
    height: 0.4rem;
    border-radius: 50px;
  }
  &::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #037fff;
    width: 3rem;
    height: 0.4rem;
    border-radius: 50px;
  }
  span {
    position: absolute;
    top: 15%;
    left: 0;
    font-size: 4.5rem;
    opacity: 0.07;
    @media screen and (max-width: 1200px) {
      font-size: 3rem;
      top: 2rem;
    }
  }
}
