.homePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fancy{
  color: #037fff;
  margin: 1rem 8rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Lobster';
  font-size: 2rem;
}

.typical{
  color: #037fff;
  margin: 1rem 0 1rem 5rem;
  font-size: 1.25rem;
}

.back {
  position: absolute;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  span {
    color: rgba(62, 142, 233, 0.877);
    font-family: "Monoton";
  }
}

.contact {
  text-align: center; 
  margin: 1rem;
  padding: 3px;
  font-size: 1.5rem;
   a {
    text-decoration: none; 
     color: #037fff;
   }
  }
.welcome-note{
  @media screen and (max-width: 700px) {
    width: 84%;
    text-align: center;
    .story{
      text-align: center;
      margin-left: 2rem;
    }
  }
  @media screen and (max-width: 1200px) {
    width: 95%;
    text-align: center;
    .story{
      text-align: center;
      margin-left: 2rem;
    }
  }
}

.h-sub-text {
  text-align: center;
  @media screen and (max-width: 700px) {
    text-align: center;
    margin-left: 1rem;
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  .icon-holder {
    margin-right: 1rem;
    transition: all 4s ease-in-out;
    .icon {
      font-size: 1.5rem;
      color: #a4acc4;
    }
    .fa:hover {
      color: rgb(103, 159, 243);
    }
    .gt:hover {
      color: rgba(206, 35, 206, 0.795);
    }
    .wa:hover {
      color: lightseagreen;
    }
    .sa:hover {
      color: rgb(241, 82, 82);
    }
    .ba:hover {
      color: rgb(85, 85, 255);
    }
    .ln:hover {
      color: #037fff;
    }
  }
}

.community-head{
  margin-top: 2rem;
  @media screen and (max-width: 700px) {
    text-align: center;
  }
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

h4{
  margin-bottom: 1rem;
}

.community{
  // background-color: white;
  width: 900px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: auto;
  box-shadow: 4px 5px 10px 5px black;
  border-radius: 10px;
  @media screen and(max-width: 700px){
    width: 600px;
    height: 80px;
  }
}

.community::before, .community::after{
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background: linear-gradient(to right, white 0%, rgba(255,255,255,0));
  z-index: 2;
}

.community::before{
  top: 0;
  left: 0;
}

.community::after{
  top: 0;
  right: 0;
  transform: rotate(100deg);
}

.slider-track{
  display: flex;
  width: calc(250px * 4);
  animation: scroll 20s infinite linear;
  transform: translateZ(0);
}
.animate{
  transition: all .2s ease .4s linear;
}
.slide{
  margin: 1rem;
}
.community-img{
  width: 150px;
  height: 70px;
  border-radius: 15px;
}

@keyframes scroll {
 0% {
    transform: translateX(0px);
}

100% {
    transform: translateX(-1000px);
}
}

.cypress {
  margin: 1.5rem .5rem 0 50rem; 
}
