nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.3rem 1.7rem;
  position: fixed;
  z-index: 9999999;
  display: flex;
  bottom: 2rem;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  backdrop-filter: blur(15px);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 1px solid var(--color-light);
}

nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.2);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-white);
}

@media only screen and (max-width: 600px) {
  nav a {
    padding: 0.8rem;
  }

  nav {
    padding: 0.3rem .5rem;
  }
}
